.contact-us {
  padding: 20px;
  font-family: 'Roboto';
}
.contact-us-heading {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}
.contact-us-logos {
  display: flex;
  align-items: center;
}
.contact-icons {
  width: 30px;
  margin-right: 12px;
}
.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
