.trending-body {
  display: flex;
  align-items: flex-start;
}
.heading-icon {
  font-size: 18px;
  color: #ff0000;
}
@media screen and (min-width: 768px) {
  .heading-icon {
    font-size: 24px;
  }
}
.trending-video-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
